<!-- views/admin/admin-leave.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/admin-head',{ title : "Admin Leave"}) %>
    <link rel="stylesheet" href="/styles/admin/AdminLeave.css" />
  </head>
  <body>
    <div class="main">
      <%- include('../includes/admin-aside') %>
      <div class="main-content">
        <%- include('../includes/admin-header', { title: 'Leave Management' ,
        subTitle: 'Managing Leave' }) %>
        <div class="container">
          <div class="tablecontent">
            <table>
              <tr>
                <th>No</th>
                <th>NAME</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Approvement</th>
              </tr>
              <% leaveRequests.forEach((request,index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= request.name %></td>
                <td><%= request.startDate %></td>
                <td><%= request.endDate %></td>
                <td><%= request.reason %></td>
                <td>
                  <form action="/admin/admin-leave/approve" method="POST">
                    <input
                      type="hidden"
                      name="requestId"
                      value="<%= request._id %>"
                    />
                    <button type="submit" id="Approval">Approve</button>
                  </form>
                  <form action="/admin/admin-leave/reject" method="POST">
                    <input
                      type="hidden"
                      name="requestId"
                      value="<%= request._id %>"
                    />
                    <button type="submit" id="Decline">Reject</button>
                  </form>
                </td>
              </tr>
              <% }) %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
